name: Day 35 Weather Alert

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  send-weather-alert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests twilio python-dotenv

      - name: Run weather script
        env:
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          FROM_NUMBER: ${{ secrets.FROM_NUMBER }}
          TO_NUMBER: ${{ secrets.TO_NUMBER }}
          OWM_API_KEY: ${{ secrets.OWM_API_KEY }}
        run: python "Day 35 - Weather Rain Alert SMS/main.py"
